#python 3.11.10 compatible
streamlit==1.39.0
pdfplumber==0.11.4
docx2txt==0.8
sentence-transformers==2.7.0
torch==2.2.2
transformers==4.44.2
rapidfuzz==3.9.3
pandas==2.2.3
Faker==30.3.0
reportlab==4.2.5
python-dateutil==2.9.0.post0
Pillow==10.4.0
requests==2.32.3
openai==1.51.2
reportlab==4.2.5
httpx==0.27.2

